text {
    font-family: Verdana, Georgia, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.pinlabel__leader {
    stroke-width: 2;
    fill: none;
}

.pinlabel__text {
    dominant-baseline: central;
    fill: #fff;
    font-weight: bold;
    stroke-width: 0;
    text-anchor: middle;
}

/* I2C label */
.i2c .pinlabel__body {
    fill: rgb(0, 100, 173);
}
.i2c .pinlabel__leader {
    stroke: rgb(0, 100, 173);
}
.i2c .swatch__body {
    fill: rgb(0, 100, 173);
}

/* PWR label */
.pwr .pinlabel__body {
    fill: rgb(173, 0, 0);
}
.pwr .pinlabel__leader {
    stroke: rgb(173, 0, 0);
}
.pwr .swatch__body {
    fill: rgb(173, 0, 0);
}

/* UART label */
.uart .pinlabel__body {
    fill: rgb(182, 69, 176);
}
.uart .pinlabel__leader {
    stroke: rgb(182, 69, 176);
}
.uart .swatch__body {
    fill: rgb(182, 69, 176);
}

/* GPIO label */
.gpio .pinlabel__body {
    fill: rgb(160, 133, 26);
}
.gpio .pinlabel__leader {
    stroke: rgb(160, 133, 26);
}
.gpio .swatch__body {
    fill: rgb(160, 133, 26);
}

.analog .pinlabel__body {
    fill: rgb(32, 150, 165);
}
.analog .pinlabel__leader {
    stroke: rgb(32, 150, 165);
}
.analog .swatch__body {
    fill: rgb(32, 150, 165);
}

.gnd .pinlabel__body {
    fill: rgb(0, 0, 0);
}
.gnd .pinlabel__leader {
    stroke: rgb(0, 0, 0);
}
.gnd .swatch__body {
    fill: rgb(0, 0, 0);
}
.spi .pinlabel__body {
    fill: rgb(151, 76, 23);
}
.spi .pinlabel__leader {
    stroke: rgb(151, 76, 23);
}
.spi .swatch__body {
    fill: rgb(151, 76, 23);
}
.touch .pinlabel__body {
    fill: rgb(230, 87, 10);
}
.touch .pinlabel__leader {
    stroke: rgb(230, 87, 10);
}
.touch .swatch__body {
    fill: rgb(230, 87, 10);
}

.rtc .pinlabel__body {
    fill: rgb(100, 200, 10);
}
.rtc .pinlabel__leader {
    stroke: rgb(100, 200, 10);
}
.rtc .swatch__body {
    fill: rgb(100, 200, 10);
}

.other .pinlabel__body {
    fill: rgb(200, 200, 200);
}
.other .pinlabel__leader {
    stroke: rgb(200, 200, 200);
}
.other .swatch__body {
    fill: rgb(200, 200, 200);
}

.panel__inner {
    fill: #fff;
}
.panel__outer {
    fill: #333;
}

.legendentry text {
    dominant-baseline: central;
}

.title {
    font-size: 32px;
    /* font-style: italic; */
}

.italic {
    font-style: italic;
}
.strong {
    font-weight: bold;
}

.panel--info .panel__inner {
    fill: #f4f4f4;
}

.annotation__body {
    fill: rgb(253, 203, 36);
    stroke-width: 0;
}
.annotation__text {
    dominant-baseline: central;
    font-size: 20px;
    font-weight: bold;
    fill: #fff;
    stroke-width: 0;
    text-anchor: middle;
}
.annotation__target {
    fill: none;
    stroke: rgb(253, 203, 36);
    stroke-width: 4px;
}
.annotation__leaderline {
    stroke: rgb(253, 203, 36);
    stroke-width: 4px;
    fill: none;
}
